#Câu 1: Đọc dữ liệu

In [1]:
import pandas as pd

In [2]:
path = "https://gitlab.com/uitgit/datasets/-/raw/master/auto_lab.csv"
df = pd.read_csv(path)

In [3]:
df

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,NaN,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

# Câu 2: Tạo header

In [4]:
df.to_csv('processing_data.csv', index=False)

In [5]:
df.columns = ["symboling", "normalized-losses", "make", "fuel-type", "aspiration", "num-of-doors", 
"body-style", "drive-wheels", "engine-location", "wheel-base", "length", "width", "height", "curb-weight", "engine-type", "num-of-cylinders", "enginesize", "fuel-system", "bore", "stroke", "compression-ratio", "horsepower", "peak-rpm", "city-mpg", "highway-mpg", "price"]

In [6]:
print(df)

     symboling normalized-losses         make fuel-type aspiration  \
0            3                 ?  alfa-romero       gas        std
1            1                 ?  alfa-romero       gas        std
2            2               164         audi       gas        std
3            2               164         audi       gas        std
4            2                 ?         audi       gas        std
..         ...               ...          ...       ...        ...
199         -1                95        volvo       gas        std
200         -1               NaN        volvo       gas      turbo
201         -1                95        volvo       gas        std
202         -1                95        volvo    diesel      turbo
203         -1                95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location wheel-base  ...  \
0            two  convertible          rwd           front       88.6  ...
1            two    hatchback          rwd           front       94.5  ...
2           four        sedan          fwd           front       99.8  ...
3           four        sedan          4wd           front       99.4  ...
4            two        sedan          fwd           front       99.8  ...
..           ...          ...          ...             ...        ...  ...
199         four        sedan          rwd           front      109.1  ...
200         four        sedan          rwd           front      109.1  ...
201         four        sedan          rwd           front      109.1  ...
202         four        sedan          rwd           front      109.1  ...
203         four        sedan          rwd           front      109.1  ...

    enginesize fuel-system  bore stroke compression-ratio horsepower  \
0           130        mpfi  3.47   2.68               9.0        111
1           152        mpfi  2.68   3.47               9.0        154
2           109        mpfi  3.19    3.4              10.0        102
3           136        mpfi  3.19    3.4               8.0        115
4           136        mpfi  3.19    3.4               8.5        110
..          ...         ...   ...    ...               ...        ...
199         141        mpfi  3.78   3.15               9.5        114
200         141        mpfi  3.78   3.15               8.7        160
201         173        mpfi  3.58   2.87               8.8        134
202         145         idi  3.01    3.4              23.0        106
203         141        mpfi  3.78   3.15               9.5        114

     peak-rpm city-mpg highway-mpg  price
0        5000       21          27  16500
1        5000       19          26  16500
2        5500       24          30  13950
3        5500       18          22  17450
4        5500       19          25  15250
..        ...      ...         ...    ...
199      5400       23          28  16845
200      5300       19          25  19045
201      5500       18          23  21485
202      4800       26          27  22470
203      5400       19          25  22625

[204 rows x 26 columns]

In [7]:
frames = [df.head(9), df.tail(6), df.sample(8)]
result = pd.concat(frames)
print(result)

     symboling normalized-losses         make fuel-type aspiration  \
0            3                 ?  alfa-romero       gas        std
1            1                 ?  alfa-romero       gas        std
2            2               164         audi       gas        std
3            2               164         audi       gas        std
4            2                 ?         audi       gas        std
5            1               158         audi       gas        std
6            1                 ?         audi       gas        std
7            1               158         audi       gas      turbo
8            0                 ?         audi       gas      turbo
198         -1                74        volvo       gas      turbo
199         -1                95        volvo       gas        std
200         -1               NaN        volvo       gas      turbo
201         -1                95        volvo       gas        std
202         -1                95        volvo    diesel      turbo
203         -1                95        volvo       gas      turbo
63           0               115        mazda       gas        std
90           1               128       nissan       gas        std
48           0                 ?       jaguar       gas        std
52           1               113        mazda       gas        std
26           1               148        dodge       gas      turbo
19           0                81    chevrolet       gas        std
190          0                 ?   volkswagen       gas        std
46           0               145       jaguar       gas        std

    num-of-doors   body-style drive-wheels engine-location wheel-base  ...  \
0            two  convertible          rwd           front       88.6  ...
1            two    hatchback          rwd           front       94.5  ...
2           four        sedan          fwd           front       99.8  ...
3           four        sedan          4wd           front       99.4  ...
4            two        sedan          fwd           front       99.8  ...
5           four        sedan          fwd           front      105.8  ...
6           four        wagon          fwd           front         ??  ...
7           four        sedan          fwd           front      105.8  ...
8            two    hatchback          4wd           front       99.5  ...
198         four        wagon          rwd           front      104.3  ...
199         four        sedan          rwd           front      109.1  ...
200         four        sedan          rwd           front      109.1  ...
201         four        sedan          rwd           front      109.1  ...
202         four        sedan          rwd           front      109.1  ...
203         four        sedan          rwd           front      109.1  ...
63          four    hatchback          fwd           front       98.8  ...
90           two        sedan          fwd           front       94.5  ...
48           two        sedan          rwd           front        102  ...
52          four        sedan          fwd           front       93.1  ...
26             ?        sedan          fwd           front       93.7  ...
19          four        sedan          fwd           front       94.5  ...
190         four        sedan          fwd           front      100.4  ...
46          four        sedan          rwd           front        113  ...

    enginesize fuel-system  bore stroke compression-ratio horsepower  \
0           130        mpfi  3.47   2.68               9.0        111
1           152        mpfi  2.68   3.47               9.0        154
2           109        mpfi  3.19    3.4              10.0        102
3           136        mpfi  3.19    3.4               8.0        115
4           136        mpfi  3.19    3.4               8.5        110
5           136        mpfi  3.19    3.4               8.5        110
6           136        mpfi  3.19    3.4               8.5        110
7           131        mpfi  3.13    3.4               8.3        140
8           131        mpfi  3.13    3.4               7.0        160
198         130        mpfi  3.62   3.15               7.5        162
199         141        mpfi  3.78   3.15               9.5        114
200         141        mpfi  3.78   3.15               8.7        160
201         173        mpfi  3.58   2.87               8.8        134
202         145         idi  3.01    3.4              23.0        106
203         141        mpfi  3.78   3.15               9.5        114
63          122        2bbl  3.39   3.39               8.6         84
90           97        2bbl  3.15   3.29               9.4         69
48          326        mpfi  3.54   2.76              11.5        262
52           91        2bbl  3.03   3.15               9.0         68
26           98        mpfi  3.03   3.39               7.6        102
19           90        2bbl  3.03   3.11               9.6         70
190         136        mpfi  3.19    3.4               8.5        110
46          258        mpfi  3.63   4.17               8.1        176

     peak-rpm city-mpg highway-mpg  price
0        5000       21          27  16500
1        5000       19          26  16500
2        5500       24          30  13950
3        5500       18          22  17450
4        5500       19          25  15250
5        5500       19          25  17710
6        5500       19          25  18920
7        5500       17          20  23875
8        5500       16          22      ?
198      5100       17          22  18950
199      5400       23          28  16845
200      5300       19          25  19045
201      5500       18          23  21485
202      4800       26          27  22470
203      5400       19          25  22625
63       4800       26          32  11245
90       5200       31          37   6649
48       5000       13          17  36000
52       5000       31          38   6695
26       5500       24          30   8558
19       5400       38          43   6575
190      5500       19          24  13295
46       4750       15          19  32250

[23 rows x 26 columns]

# Định dạng dữ liệu

In [8]:
import numpy as np

In [9]:
list = ["?", ".", "","_", "Na", "NULL" "null", "not", "Not", "??"]
df.replace(to_replace = list, value = np.nan, inplace = True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          204 non-null    int64
 1   normalized-losses  162 non-null    object
 2   make               204 non-null    object
 3   fuel-type          204 non-null    object
 4   aspiration         204 non-null    object
 5   num-of-doors       202 non-null    object
 6   body-style         204 non-null    object
 7   drive-wheels       204 non-null    object
 8   engine-location    204 non-null    object
 9   wheel-base         198 non-null    object
 10  length             200 non-null    object
 11  width              203 non-null    object
 12  height             204 non-null    float64
 13  curb-weight        201 non-null    object
 14  engine-type        204 non-null    object
 15  num-of-cylinders   204 non-null    object
 16  enginesize        204 non-null    int64
 17  fuel-system        204 non-null    object
 18  bore               200 non-null    object
 19  stroke             200 non-null    object
 20  compression-ratio  204 non-null    float64
 21  horsepower         202 non-null    object
 22  peak-rpm           202 non-null    object
 23  city-mpg           204 non-null    int64
 24  highway-mpg        204 non-null    int64
 25  price              198 non-null    object
dtypes: float64(2), int64(4), object(20)
memory usage: 41.6+ KB

#Cau 4

In [11]:
df["horsepower"] = df["horsepower"].astype('float64')

In [12]:
df["normalized-losses"] = df["normalized-losses"].astype('float64')

In [13]:
df['wheel-base'] = df['wheel-base'].astype('float64')

In [17]:
df['bore'] = df['bore'].astype('float64')

In [20]:
for col in df.columns:
  if df[col].dtypes == np.int64:
    continue
  else:
    try:
        df[col] = df[col].astype(np.float64)
    except Exception:
        continue

In [22]:
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight          float64
engine-type           object
num-of-cylinders      object
enginesize            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

#Cau5

In [23]:
import numpy as np
np.array(df)

array([[3, nan, 'alfa-romero', ..., 21, 27, 16500.0],
       [1, nan, 'alfa-romero', ..., 19, 26, 16500.0],
       [2, 164.0, 'audi', ..., 24, 30, 13950.0],
       ...,
       [-1, 95.0, 'volvo', ..., 18, 23, 21485.0],
       [-1, 95.0, 'volvo', ..., 26, 27, 22470.0],
       [-1, 95.0, 'volvo', ..., 19, 25, 22625.0]], dtype=object)

#Cau 6

In [24]:
df.isna().sum()

symboling             0
normalized-losses    42
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            6
length                4
width                 1
height                0
curb-weight           3
engine-type           0
num-of-cylinders      0
enginesize           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 6
dtype: int64

#Cau 7:

In [25]:
count_nan = df.isna().sum().sum()
ratio_nan = round(count_nan/df.count().sum()*100,2)
print("Phan tram sample bi khuyet: " + str(ratio_nan) + " %")

Phan tram sample bi khuyet: 1.45 %

#Cau 8

In [26]:
df.fillna(value=df['normalized-losses'].mean(), inplace = True)
print(df['normalized-losses'])

0      122.006173
1      122.006173
2      164.000000
3      164.000000
4      122.006173
          ...
199     95.000000
200    122.006173
201     95.000000
202     95.000000
203     95.000000
Name: normalized-losses, Length: 204, dtype: float64

In [27]:
import random
df['stroke'].replace(np.nan, random.choice(df['stroke']), inplace = True)
print(df['stroke'])

0      2.68
1      3.47
2      3.40
3      3.40
4      3.40
       ...
199    3.15
200    3.15
201    2.87
202    3.40
203    3.15
Name: stroke, Length: 204, dtype: float64

In [28]:
df.fillna(value=df['bore'].mean(), inplace = True)
print(df['bore'])

0      3.47
1      2.68
2      3.19
3      3.19
4      3.19
       ...
199    3.78
200    3.78
201    3.58
202    3.01
203    3.78
Name: bore, Length: 204, dtype: float64

In [29]:
df['horsepower'].replace(np.nan, random.choice(df['horsepower']), inplace = True)
print(df['horsepower'])

0      111.0
1      154.0
2      102.0
3      115.0
4      110.0
       ...
199    114.0
200    160.0
201    134.0
202    106.0
203    114.0
Name: horsepower, Length: 204, dtype: float64

In [30]:
df.fillna(value=df['peak-rpm'].mean(), inplace = True)
print(df['peak-rpm'])

0      5000.0
1      5000.0
2      5500.0
3      5500.0
4      5500.0
        ...
199    5400.0
200    5300.0
201    5500.0
202    4800.0
203    5400.0
Name: peak-rpm, Length: 204, dtype: float64

In [31]:
from pickle import TRUE
ls1 = ["one", "two", "three", "four"]
ls2 = ["1", "2", "3", "4"]
df["num-of-doors"].replace(to_replace = ls1, value = ls2, inplace =True)

In [35]:
df['num-of-doors'] = df['num-of-doors'].replace(np.nan, df['num-of-doors'].unique()[1])

In [36]:
df.to_csv("df_cau08.csv")

#Cau 9:

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          204 non-null    int64
 1   normalized-losses  204 non-null    float64
 2   make               204 non-null    object
 3   fuel-type          204 non-null    object
 4   aspiration         204 non-null    object
 5   num-of-doors       204 non-null    int64
 6   body-style         204 non-null    object
 7   drive-wheels       204 non-null    object
 8   engine-location    204 non-null    object
 9   wheel-base         204 non-null    float64
 10  length             204 non-null    float64
 11  width              204 non-null    float64
 12  height             204 non-null    float64
 13  curb-weight        204 non-null    float64
 14  engine-type        204 non-null    object
 15  num-of-cylinders   204 non-null    object
 16  enginesize        204 non-null    int64
 17  fuel-system        204 non-null    object
 18  bore               204 non-null    float64
 19  stroke             204 non-null    float64
 20  compression-ratio  204 non-null    float64
 21  horsepower         204 non-null    float64
 22  peak-rpm           204 non-null    float64
 23  city-mpg           204 non-null    int64
 24  highway-mpg        204 non-null    int64
 25  price              204 non-null    float64
dtypes: float64(12), int64(5), object(9)
memory usage: 41.6+ KB

In [39]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2)
temp = df[['wheel-base', 'length', 'width', 'curb-weight', 'price']]

non_missing_data = imputer.fit_transform(temp)
new_data = pd.DataFrame(non_missing_df, columns=temp.columns)
new_df.loc[temp[temp.isna().any(axis=1)].index, :]

Empty DataFrame
Columns: [wheel-base, length, width, curb-weight, price]
Index: []

In [40]:
df[['wheel-base', 'length','width', 'curb-weight','price']] = new_df.copy()
df.isnull().any()

symboling            False
normalized-losses    False
make                 False
fuel-type            False
aspiration           False
num-of-doors         False
body-style           False
drive-wheels         False
engine-location      False
wheel-base           False
length               False
width                False
height               False
curb-weight          False
engine-type          False
num-of-cylinders     False
enginesize          False
fuel-system          False
bore                 False
stroke               False
compression-ratio    False
horsepower           False
peak-rpm             False
city-mpg             False
highway-mpg          False
price                False
dtype: bool

In [41]:
df.to_csv("df_cau09.csv")

# Câu 10. 
Dùng phương pháp loại bỏ (drop) cho các sample đối với các feature bị khuyết

In [42]:
df.dropna()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,enginesize,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.006173,alfa-romero,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
1,1,122.006173,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
2,2,164.000000,audi,gas,std,4,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
3,2,164.000000,audi,gas,std,4,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
4,2,122.006173,audi,gas,std,2,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95.000000,volvo,gas,std,4,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
200,-1,122.006173,volvo,gas,turbo,4,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
201,-1,95.000000,volvo,gas,std,4,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
202,-1,95.000000,volvo,diesel,turbo,4,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
203,-1,95.000000,volvo,gas,turbo,4,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [43]:
df.to_csv("df_cau10.csv")

# Cau 11 
Viết hàm kiểm tra xem một df có còn bị khuyết dữ liệu không? Nếu không khuyết trả về true, ngược lại false

# Cau 12:
Chuẩn hóa "length", "width" và "height" trong phạm vi [0,1]

In [44]:
df["length"] = df["length"]/df["length"].max()

In [46]:
df["width"] = df["width"]/df["width"].max()

In [47]:
df["height"] = df["height"]/df["height"].max()

In [48]:
df.to_csv("df_cau12.csv")

#Cau 13. 
Tạo các bin là ['Low', 'Medium', 'High'] cho “horsepower” và “price”

## horsepower

In [49]:
bins = np.linspace(min(df['horsepower']), max(df['horsepower']),4)
bins

array([ 48., 128., 208., 288.])

In [50]:
label_hp=['low', 'medium', 'high']

In [51]:
df['horsepower-bin'] = pd.cut(df['horsepower'], bins, labels = label_hp, include_lowest=True)
df['horsepower-bin']

0         low
1      medium
2         low
3         low
4         low
        ...
199       low
200    medium
201    medium
202       low
203       low
Name: horsepower-bin, Length: 204, dtype: category
Categories (3, object): ['low' < 'medium' < 'high']

## price

In [52]:
bins = np.linspace(min(df['price']), max(df['price']),4)
df['price-bin'] =  pd.cut(df['price'], bins, labels = label_hp, include_lowest=True)
df['price-bin']

0      medium
1      medium
2         low
3      medium
4      medium
        ...
199    medium
200    medium
201    medium
202    medium
203    medium
Name: price-bin, Length: 204, dtype: category
Categories (3, object): ['low' < 'medium' < 'high']

In [53]:
df.to_csv("df_cau13.csv")

In [57]:
def Is_DataFrame_NotNull(df):
    if df.isnull().any().any() == True:
        return False
    else:
        return True

In [58]:
Is_DataFrame_NotNull(df)

True

In [59]:
df.to_csv("df_cau11.csv")